ul {
	list-style:none;
	margin:0 0 1em;
	padding:0;
}
.quizNav {
	display:inline-block;
	border:solid 1px #cacaca;
	padding:5px 8px;
	color:#ddd;
	pointer-events:none;
	cursor:pointer;
	margin-top:50px;
	font-size:80%;
	&:HOVER {
		background:#cacaca;
	}
	&.enabled {
		color:#000;
		pointer-events:all;
	}
}
.choices {
	li {
		display:inline-block;
		padding:5px 10px;
		border:solid 1px #dedede;
		margin:0 5px 0 0;
		cursor:pointer;
		text-transform:uppercase;
		font-size:80%;
		letter-spacing:0.05em;
		&:HOVER {
			border:solid 1px #000;
		}
		&.selected {
			background:#ff9999;
		}
	}
}
